localhost {
    handle /api/fingerprint/* {
        reverse_proxy localhost:8085
    }

    handle /api/* {
        reverse_proxy localhost:3000
    }

    handle {
        reverse_proxy localhost:5173
    }
}
